@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .btn-primary {
    @apply bg-blue-500 text-white hover:bg-blue-600 transition-colors;
  }

  .btn-outline {
    @apply border border-gray-300 text-gray-700 hover:bg-gray-100 transition-colors;
  }

  .input-search {
    @apply w-full shadow-sm focus:ring-2 focus:ring-blue-500 focus:border-blue-500;
  }
}